.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.numeral-table {
  margin: auto;
}
label {
  padding: 10px;
}
.numeral-input {
  width: 200px;
}

.convert-to-dropdown {
  width: 208px;
  margin: auto;
}